// For mobile screens
body{
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-family: Helvetica, sans-serif;
    background-color: #faf6f2;
    color: #2b2a28;

    main{
        display: grid;
        grid-template-columns: 1fr;
    }

    h2{
        margin: 1em auto;
        font-family: monospace;
        font-size: 2em;
    }
}

// For large screens
@media screen and (min-width: 993px) {
    main{
        width: 60%;
        margin: 0 auto;
    }
}